.banner {
  position: relative;
  display: flex;
  background: linear-gradient(91.79deg, #1dbcd1 16.94%, #3ddcf1 83.14%);
  width: 100%;
  height: 294px;
  align-items: center;
  justify-content: center;
}

.banner__container {
  display: flex;
  width: 1521px;
  align-items: center;
  justify-content: space-between;
}

.banner__container_title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 53px;
  color: #ffffff;
  margin: 0;
}

.banner__container_description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  height: 86px;
  display: flex;
  align-items: center;
  margin: 7px 0 0 0;
}

.banner__container_text {
  width: 577px;
}

.banner__container_img {
  position: absolute;
  left: 600px;
}

.banner__container_button {
  width: 282px;
  height: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #2b2e34;
  padding: 0 0 0 66px;
  background: #ffffff url(../../images/banner-button.svg) no-repeat 51px 30px;
  border: none;
  border-radius: 2px;
}
