.slider {
  width: 100%;
}

.slider__input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: red;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #38d3e8;
  cursor: pointer;
  width: 2px;
  height: 18px;
  margin-top: -7px;
  border: 3px solid #38d3e8;
}

.slider__input::-webkit-slider-runnable-track {
  background-color: #dee1e8;
  height: 3px;
}

.slider__input::-webkit-progress-inner-element {
  border: 2px solid black;
  background: red;
}

.slider__input::-webkit-progress-value {
  -webkit-appearance: none;
  background: red;
}

.slider__input::-moz-range-progress {
  background: red;
}
